<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shardingjdbc.core.dao.UserDAO">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.shardingjdbc.core.entity.User">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="city_id" property="cityId" />
        <result column="sex" property="sex" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="create_time" property="createTime" />
        <result column="password" property="password" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, city_id, sex, phone, email, create_time, password
    </sql>

</mapper>
